.loading-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 3rem;
  background-color: rgba(18, 18, 19,0.8);
  padding: 25%;
  padding-left: 40%
}
