<br><br>
<div class="container-fluid project-item">
  <div class="row">
    <div class="col-2">
      <h4 class="avatar">A</h4>
    </div>
    <div class="col-3 align-self-center">
      <a href="">
        <h6 class="d-md-none d-sm-none d-block">projectName</h6>
        <h5 class="d-md-block d-sm-block d-none">projectName</h5>
      </a>
    </div>

    <div class="col-1 align-self-center d-md-block d-sm-block d-none">
      <fa name="exclamation-circle"></fa><span class="badge badge-pill badge-danger">0</span>
    </div>
    <div class="dropdown col-1 offset-md-4 align-self-center">
      <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <fa name="ellipsis-h" size="2x"></fa>
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenudiv">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  <hr>
</div>
