.project-list {
  margin-top: 3%;
}

.avatar {
  content:attr(data-letters);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:plum;
  vertical-align:middle;
  margin-right:1em;
  color:white;
}

.crud-icon {
  font-size: 24px;
}

.edit-icon:hover {
  color: rgb(255, 196, 0);
}

.delete-icon:hover {
  color: #d23026;
}


.project-item {
  padding-top: 3%;
}
.project-item:hover {
  background-color: lightgray;
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.crud-icon-description {
  font-size: 1.3rem;
}
