<section class="py-5">
  <div class="row">
    <!-- Form Elements -->
    <div class="col-lg-12 mb-5">
      <div class="card">
        <div class="card-header">
          <h3 class="h6 text-uppercase mb-0 text-blue text-center">Add client</h3>
        </div>
        <div class="card-body">
          <form class="form-horizontal" [formGroup]="form" (ngSubmit)="addUser()" id="addUserForm">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Email</label>
              <div class="col-md-9">
                <input type="email" class="form-control" [ngClass]="{
                  'is-invalid': form.get(['email']).invalid && form.get(['email']).touched,
                  'is-valid': !form.get(['email']).invalid && form.get(['email']).touched
                }" formControlName="email">
                <div class="invalid-feedback ml-3">Please provide the client email</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">First Name</label>
              <div class="col-md-9">
                <input style="text-transform:capitalize" type="text" class="form-control" [ngClass]="{
                  'is-invalid': form.get(['firstName']).invalid && form.get(['firstName']).touched,
                  'is-valid': !form.get(['firstName']).invalid && form.get(['firstName']).touched
                }" formControlName="firstName" pattern="^[a-zA-Z]+.[a-zA-Z]+$">
                <div class="invalid-feedback ml-3">Please provide client first name, a name must contain only alphabetic letters</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Last Name</label>
              <div class="col-md-9">
                <input style="text-transform:capitalize" type="text" class="form-control" [ngClass]="{
                  'is-invalid': form.get(['lastName']).invalid && form.get(['lastName']).touched,
                  'is-valid': !form.get(['lastName']).invalid && form.get(['lastName']).touched
                }" formControlName="lastName" pattern="^[a-zA-Z]+.[a-zA-Z]+$">
                <div class="invalid-feedback ml-3">Please provide client last name, a name must contain only alphabetic letters</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control" [ngClass]="{
                  'is-invalid': form.get(['username']).invalid && form.get(['username']).touched,
                  'is-valid': !form.get(['username']).invalid && form.get(['username']).touched
                }" formControlName="username" pattern="[a-zA-Z]+.(\w+)">
                <div class="invalid-feedback ml-3">Please provide a username, a username must contain only alphanumeric characters and _</div>
              </div>
            </div>
            <!-- 3 Normal up -->
            <div class="line"></div>
            <!-- line up -->
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Password</label>
              <div class="col-md-9">
                <input type="password" name="password" class="form-control" [ngClass]="{
                  'is-invalid': !form.get(['password']).valid && form.get(['password']).touched,
                  'is-valid': form.get(['password']).valid && form.get(['password']).touched
                }" formControlName="password">
                <div class="invalid-feedback ml-3">Please provide a valid password, a password must have at least 8 characters and contains at least one uppercase letter, one lowwercase letter and/or one special character</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Confirm Password</label>
              <div class="col-md-9">
                <input type="password" name="password" class="form-control" [ngClass]="{
                  'is-valid': (form.value.password === form.value.confirmPassword) && (form.get(['confirmPassword']).touched && !form.get(['password']).invalid),
                  'is-invalid': (form.value.password !== form.value.confirmPassword) && (form.get(['confirmPassword']).touched || form.get(['password']).invalid)
                }" formControlName="confirmPassword">
                <div class="invalid-feedback ml-3">Please provide exactly the same password above</div>
              </div>
            </div>
            <!-- Password up -->
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Gender <br><small
                  class="text-primary">select client gender</small></label>
              <div class="col-md-9">
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="customRadioInline1" type="radio" name="gender" class="custom-control-input" value="0" formControlName="gender">
                  <label for="customRadioInline1" class="custom-control-label" [ngClass]="{
                    'is-invalid': form.get(['gender']).invalid && form.get(['gender']).touched
                  }">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="customRadioInline2" type="radio" name="gender" class="custom-control-input" [ngClass]="{
                    'is-invalid': form.get(['gender']).invalid && form.get(['gender']).touched
                  }" value="1" formControlName="gender">
                  <label for="customRadioInline2" class="custom-control-label">Female</label>
                </div>
              </div>
            </div>
            <!-- check box and radio up -->
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Is the client an individual or an enterprise ?</label>
              <div class="col-md-9 select mb-3">
                <select name="account" class="form-control" formControlName="position">
                  <option selected>Individual</option>
                  <option>Enterprise</option>
                </select>
              </div>
            </div>
            <!-- select up -->
            <div class="form-group row" *ngIf="form.value.position === 'Enterprise'">
              <label class="col-md-3 form-control-label">Enterprise Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" [ngClass]="{
                  'is-invalid': form.get(['enterpriseName']).invalid && form.get(['enterpriseName']).touched,
                  'is-valid': !form.get(['enterpriseName']).invalid && form.get(['enterpriseName']).touched
                }" formControlName="enterpriseName" pattern="[a-zA-Z0-9]+">
                <div class="invalid-feedback ml-3">Please provide your your enterprise name</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Is the client a representative or an owner ?</label>
              <div class="col-md-9 select mb-3">
                <select name="account" class="form-control" formControlName="type" required>
                  <option selected>Representative</option>
                  <option>Owner</option>
                </select>
              </div>
            </div>
            <!-- select up -->
            <div class="form-group row">
              <div class="col-md-9 ml-auto">
                <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" form="addUserForm" [disabled]="!form.valid || (form.value.password !== form.value.confirmPassword)">Save user</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</section>
<app-loading *ngIf="loading"></app-loading>
<notifier-container></notifier-container>
