<div class="container answer-form" *ngIf="shared.getIsAdmin() && !shared.getChallengeIsValid()">
  <div class="row">
    <div class="col-10 offset-1 text-center">
      <form [formGroup]="form" (ngSubmit)="verifyAnswer()" id="answer-form">
        <div class="alert alert-danger justify-content-center" *ngIf="errorOccured">
          {{errorMessage}}
        </div>
        <div class="justify-content-center">
          <div class="container">
            <div class="form-group" [formGroup]="form">
              <label for="answer">What was your BAC average :</label>
              <input formControlName="answer" class="form-control" id="answer" aria-describedby="answer" type="text"
                placeholder="answer" autofocus>
              <p *ngIf="form.get(['answer']).invalid && form.get(['answer']).touched" class="alert alert-danger">This
                field is mondatory</p>
            </div>
            <button form="answer-form" class="btn btn-success" [disabled]="!form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
