<notifier-container></notifier-container>
<div class="container-fluid">
  <h1 class="text-center">Clients Managment</h1>
  <div class="row">
    <button type="button" class="btn btn-outline-success my-3 col-3" (click)="addNewClient()">Add new client</button>
    <div class="col-4 offset-5">
      <div class="form-inline mt-3" [formGroup]="form">
        <div class="col-md-9 select mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button"
                class="btn btn-outline-primary" (click)="orderToggle()">{{form.value.sortOrder}}
              </button>
            </div>
            <select name="account" class="form-control" formControlName="sortBy" required (change)="sortBy()">
              <option disabled>sort by</option>
              <option value="firstName">First Name</option>
              <option value="lastName">Last Name</option>
              <option value="username">Username</option>
              <option value="email">E-mail</option>
              <option value="inscriptionDate">Inscription Date</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <p class="text-center alert alert-light row" *ngIf="clients.length === 0"> there is no clients to show</p>
  <div class="row" *ngIf="page">
    <div class="col offset-10">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" [disabled]="page.number < 1" (click)="previousPage()">&laquo;</button>
          </li>
          <li class="">
            <a class="page-link elt-count">{{(page.number + 1) * page.size}} / {{page.totalElements}}</a>
          </li>
          <li class="page-item">
            <button class="page-link" [disabled]="page.number === (page.totalPages - 1)" (click)="nextPage()">&raquo;</button>
          </li>
        </ul>
      </div>
    <!--  -->
  </div>
  <div class="row">
    <table class="table table-hover" *ngIf="clients.length > 0">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light" *ngFor="let client of clients">
          <th scope="row">{{client.type || 'N.A'}}</th>
          <td>{{client.firstName || 'N.A'}}</td>
          <td>{{client.lastName || 'N.A'}}</td>
          <td>{{client.username || 'N.A'}}</td>
          <td>{{client.email || 'N.A'}}</td>
          <td>
            <button class="btn btn-info" (click)="showElement(client)">
              <fa name="eye"></fa>
            </button>
            <button class="btn btn-warning" (click)="editClient(client)">
              <fa name="edit"></fa>
            </button>
            <button class="btn btn-danger" (click)="deleteClient(client)">
              <fa name="trash"></fa>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
