<div class="alert alert-info-light text-center" *ngIf="!client">
  client ...
</div>
<section class="py-5" *ngIf="client">
  <div class="row">
    <div class="col-lg-12">
      <a class="message card px-5 py-3 mb-4 no-anchor-style">
        <div class="row">
          <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
            <h6 class="mb-0">
              {{client.firstName}} {{ client.lastName}}
              <span>
                <fa name="circle" [ngClass]="client.activate ? 'circle-green' : 'circle-red'"></fa>
              </span></h6>
          </div>
          <div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
            <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">{{client.type || 'N.A'}}</div>
            <div class="mb-0 mt-3 mt-lg-0">
              <ul class="list-group list-group-flush justify-content">
                  <li class="list-group-item"><span class="header-id-card">Email : </span> {{client.email || 'N.A'}}</li>
                  <li class="list-group-item"><span class="header-id-card">Gender : </span>
                    <fa name="{{client.gender ? 'venus' : 'mars'}}" [ngStyle]="{'color':client.gender ? '#ff3acd' : 'blue'}"></fa>
                  </li>
                  <li class="list-group-item"><span class="header-id-card">Position : </span> {{client.position || 'N.A'}} <span class="bg-info roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-light exclode" *ngIf="client.enterpriseName">{{client.enterpriseName || 'N.A'}}</span></li>
                  <li class="list-group-item"><span class="header-id-card">Inscription Date : </span> {{client.inscriptionDate || 'N.A'}}</li>
                </ul>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<app-client-projects></app-client-projects>
<app-client-reclamations></app-client-reclamations>
