@import '../../navigation/bubbly/bubbly.component.red.scss';
.circle-green {
  color: rgb(0, 255, 34);
}

.circle-red {
  color: rgb(255, 30, 30);
}

.header-id-card {
  font-size: 1.1rem;
  font-weight: 600;
}