<div>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">&laquo;</a>
    </li>
    <!--  -->
    <li class="page-item active">
      <a class="page-link">1</a>
    </li>
    <!--  -->
    <li class="page-item">
      <a class="page-link">&raquo;</a>
    </li>
  </ul>
</div>
