<section *ngIf="shared.getClient()">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-5 mb-lg-0">
        <div class="card-header">
          <h2 class="h6 mb-0 text-uppercase">{{shared.getClient().firstName}} {{shared.getClient().lastName}}
            reclamations <span class="badge badge-pill badge-info">{{reclamations.length}}</span></h2>
        </div>
        <div class="card-body" *ngIf="reclamations.length">
          <div *ngFor="let reclamation of reclamations; index as i"
            class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
            <div class="left d-flex align-items-center">
              <div class="icon icon-lg shadow mr-3 text-gray">{{i + 1}}</div>
              <div class="text">
                <h6 class="mb-0 d-flex align-items-center"> <span>{{reclamation.name}}.</span><span
                    class="dot dot-sm ml-2" [ngClass]="{
                    'bg-gray':reclamation.status === null,
                    'bg-red': reclamation.status === 'Closed',
                    'bg-blue': reclamation.status === 'New',
                    'bg-orange': reclamation.status === 'InProgress'
                  }"></span></h6><small class="text-gray">{{reclamation.type}}</small>
              </div>
            </div>
            <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0">
              <span class="font-weight-bold">Severity : <span class="badge badge-pill" [ngClass]="{
                'badge-success': (reclamation.severity < 11) && (reclamation.severity > 7),  
                'badge-warning': (reclamation.severity < 7) && (reclamation.severity > 3),  
                'badge-danger': (reclamation.severity < 3)  
              }">{{reclamation.severity}}</span></span>
              <h5>Reclamation Date : <span class="text-blue">{{reclamation.reclamationDate}}</span></h5>
              <h6 class="text-red" *ngIf="reclamation.status === 'Closed'">Closed at : {{reclamation.resolutionDate}}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
