$adared : #d23026;
@import '../navigation.component.scss';

/*
*
* =====================
* NAVBAR
* =====================
*
*/
.navbar .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-menu {
  left: auto;
  top: 101%;
  right: 0;
  border: none;
}

.navbar .navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 991.98px) {
  .navbar .navbar-brand {
    position: static;
    -webkit-transform: none;
    transform: none;
  }
}

.notification-icon {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: $adared;
  position: absolute;
  top: 0.4rem;
  right: 0;
}

