@import "node_modules/bootswatch/dist/lumen/_variables.scss";

.green {
  color: $green;
}

.add-txt {
  color: $gray-800;
}

.add-txt:hover {
  color: $teal;
}

.green:hover {
  color: $teal
}

input {
  border-radius: 24px;
}

select {
  border-radius: 24px;
}
