<div class="row">
  <div class="col">
    <div class="row add">
        <fa name="plus-square" size="1x" class="green col-1"></fa>
        <h5 class="col add-txt">Add new reclamation</h5>
        
    </div>
  </div>


  <div class="form-group col-4">
    <select class="form-control" id="exampleSelect1">
      <option disabled>Filter by</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <form class="form-group col-4">
    <div class="row">
        <input class="form-control mr-sm-2 col-9" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0 col" type="submit"><fa name="search"></fa></button>
    </div>
  </form>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Project</th>
      <th scope="col">Date</th>
      <th scope="col">status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td scope="row">Light</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>
