<div class="container h-100 g-container" *ngIf="shared.getIsAdmin() && shared.getChallengeIsValid()">
  <div class="page-holder d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center py-5">
        <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
          <div class="pr-lg-5"><img src="assets/illustration.svg" alt="" class="img-fluid"></div>
        </div>
        <div class="col-lg-5 px-lg-4">
          <h1 class="text-base text-primary text-uppercase mb-4">MS-Desk</h1>
          <h2 class="mb-4 text-success">Welcome back!</h2>

          <form id="loginForm" class="mt-4" [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group mb-4">
              <input type="text" name="username" placeholder="Username"
                class="form-control border-0 shadow form-control-lg" formControlName="username">
              <p *ngIf="form.get(['username']).invalid && form.get(['username']).touched" class="alert alert-danger">
                This field is mondatory</p>
            </div>
            <div class="form-group mb-4">
              <input type="password" name="passowrd" placeholder="Password"
                class="form-control border-0 shadow form-control-lg text-violet" formControlName="password">
              <p *ngIf="form.get(['password']).invalid && form.get(['password']).touched" class="alert alert-danger">
                This field is mondatory</p>
            </div>

            <button type="submit" class="btn btn-primary shadow px-5" form="loginForm" [disabled]="!form.valid">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<app-loading *ngIf="loading"></app-loading>
