<div class="main">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Reclamations</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
      <app-projects-list></app-projects-list>
    </div>
    <div class="tab-pane fade" id="profile">
      <app-reclamations-list></app-reclamations-list>
    </div>
  </div>

</div>