<section *ngIf="shared.getClient()">
    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-5 mb-lg-0">         
          <div class="card-header">
            <h2 class="h6 mb-0 text-uppercase">{{shared.getClient().firstName}} {{shared.getClient().lastName}} projects <span class="badge badge-pill badge-info">{{projects.length}}</span></h2>
          </div>
          <div class="card-body" *ngIf="projects.length">
            <div *ngFor="let project of projects; index as i" class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
              <div class="left d-flex align-items-center">
                <div class="icon icon-lg shadow mr-3 text-gray">{{i + 1}}</div>
                <div class="text">
                  <h6 class="mb-0 d-flex align-items-center"> <span>{{project.name}}.</span><span class="dot dot-sm ml-2 bg-gray"></span></h6><small class="text-gray">{{project.version}}</small>
                </div>
              </div>
              <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0">
                <h5>Guarantee Duration : <span class="text-blue">{{project.guaranteeDurationInMonths}} months</span></h5>
                <h6>Starting from : <span class="bg-green">{{project.releaseDate}}</span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>