<div class="d-flex align-items-stretch">
  <div id="sidebar" class="sidebar py-3" [ngClass]="{'shrink show': shared.getToggle$() | async}">
    <div class="menu-heading text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">
      MAIN
    </div>
    <ul class="sidebar-menu list-unstyled">
      <li class="sidebar-list-item" *ngFor="let item of menuItems" routerLink="/admin/msdesk/{{item.route}}" routerLinkActive="active" >
        <a class="sidebar-link text-muted">
          <i class="{{item.ionicon.platform}}{{item.ionicon.icon}} menu-icon" *ngIf="item.showIon"></i>
          <fa name="{{item.faicon.name}}" size="{{item.faicon.size}}" *ngIf="!item.showIon" class="menu-icon"></fa>
          <span class="menu-text">{{item.title}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="page-holder w-100 d-flex flex-wrap">
      <div class="container-fluid px-xl-5">
          <router-outlet></router-outlet>
      </div>
  </div>
