
@import '../navigation.component.scss';
$adared : #19aadf;
/*
*navigation.component.scss
*
*/


/*
*
* =====================
* SIDEBAR
* =====================
*
*/
.sidebar {
  width: 16rem;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 0.8rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.8rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  .active {
    background-color: $adared;
    .menu-icon {
      color : white;
    }
    .menu-text {
      color: white;
    }
  }
}

.menu-heading {
  color: gray;
}

.sidebar.shrink {
  width: 6rem;
  text-align: center;
  background-color: $adared;
  .menu-heading {
    color: white;
  }
  .menu-text {
    margin-left: initial;
    color: white;
  }
  .menu-icon {
    color : white;
  }
  .active {
    background-color: white;
    .menu-icon {
      color : $adared;
    }
    .menu-text {
      color: $adared;
    }
  }
  .sidebar-link:hover {
    text-decoration: none;
    background: white;
    .menu-icon {
      color: #1c5edab0;
    }
    .menu-text {
      color: #1c5edab0;
    }
  }
}

.menu-text {
  margin-left: 8%;
  font-size: 1.1rem;
}

.sidebar.shrink .sidebar-link {
  display: block;
}

.sidebar.shrink .sidebar-link span {
  display: block;
  font-size: 0.75rem;
}

.sidebar.shrink .sidebar-link i {
  margin: 0 !important;
}

.sidebar.shrink .collapse .sidebar-link, .sidebar.shrink .collapsing .sidebar-link {
  -webkit-transition: none;
  transition: none;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

@media (max-width: 1199.98px) {
  .sidebar {
    width: 6rem;
    text-align: center;
    margin-left: -6rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .sidebar .sidebar-link {
    display: block;
  }
  .sidebar .sidebar-link span {
    display: block;
    font-size: 0.75rem;
  }
  .sidebar .sidebar-link i {
    margin: 0 !important;
  }
}

.sidebar.show {
  margin-left: 0;
}

.sidebar-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  padding: 0.5rem 1.5rem;
}

.sidebar-link[data-toggle="collapse"] {
  position: relative;
}

.sidebar-link[data-toggle="collapse"]::before {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  color: #aaa;
  font-family: 'Font Awesome 5 Free';
  content: '\f104';
  font-weight: 900;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-link[data-toggle="collapse"][aria-expanded='true']::before {
  content: '\f107';
}

.sidebar-link:hover {
  text-decoration: none;
  background: $adared;
  .menu-icon {
    color: white;
  }
  .menu-text {
    color: white;
  }
}

.sidebar-link.active, .sidebar-link:focus {
  background: $adared;
  color: #fff;
  text-decoration: none;
}

.sidebar-link.active::before, .sidebar-link:focus::before {
  color: #fff;
}

.sidebar-link.active i, .sidebar-link:focus i {
  color: #fff
}

.sidebar-link i {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar-link span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden !important;
}

.form-control-label {
  font-size: .9rem;
  color: #6c757d;
}

// NDH
.page-holder {
  overflow-x: scroll;
}
