.username-form {
  margin-top: 20%;
  padding: 3%;
  background-color: rgba(23, 27, 27, 0.8);
  border-radius: 24px;

  font-size: 2rem;
  color: white;
}

input {
  border-radius: 24px;
}

.alert {
  margin-top: 2%;
  font-size: 0.9rem;
}
