<div class="container username-form" *ngIf="! isAdmin">
  <div class="row">
    <div class="col-10 offset-1 text-center">
      <form [formGroup]="form" (ngSubmit)="verifyUsername()" id="username-form">
        <div class="alert alert-danger justify-content-center" *ngIf="errorOccured">
          {{errorMessage}}
        </div>
        <div class="justify-content-center">
          <div class="form-group" >
            <label for="username">Username : </label>
            <input formControlName="username" class="form-control" id="username" aria-describedby="username" type="text" placeholder="username" autofocus>
            <p *ngIf="form.get(['username']).invalid && form.get(['username']).touched" class="alert alert-danger">This field is mondatory</p>
          </div>
          <button form="username-form" class="btn btn-success" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
